*, *:before, *:after {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 100%;
  background-color: ccc;
  display: inline-block;
  text-align: center;
}


.Baku {
    background-image: url("../images/baku.jpg");
    height:300px;
    width: 100%;
    background-size:cover;
    text-align: left;
    background-repeat: no-repeat;
    margin:2%;
    display: inline-block;
    font-family:serif;
}

h1 {
text-indent: 25%;
line-height: 500%;
font-size: 30px;
}

.London {
    background-image: url("../images/london.png");
    height:300px;
    width: 100%;
    background-size:cover;
    text-align: left;
    background-repeat: no-repeat;
    margin:2%;
    display: inline-block;
    font-family:serif;
}


.Madrid {
    background-image: url("../images/madrid.jpg");
    height:300px;
    width: 100%;
    background-size:cover;
    text-align: left;
    background-repeat: no-repeat;
    margin:2%;
    display: inline-block;
    font-family:serif;
}


.Rome {
    background-image: url("../images/rome.jpg");
    height: 300px;
    width: 100%;
    background-size:cover;
    text-align: left;
    background-repeat: no-repeat;
    margin:2%;
    display:inline-block;
    font-family:serif;
}


.Title {
  font-size: 20pt;
  text-align: center;
  font-family: sans-serif;
  text-transform: capitalize;
  margin:5%
}

@media screen and (min-width: 575px){
   .baku, .london, .madrid, .rome {
    margin: 1%;
    width: 40%;
    display: inline-block;
  }

@media screen and (min-width: 991px){
    .baku, .london, .madrid, .rome {
    margin: 1%;
    width: 22%;
    display: inline-block;
    }
